<div class="card w-75">
    <div class="card-header">
        Submission #{{submission.id}} of {{assignment.name}}
    </div>
    {{#if submission}}
    <div>
        {{#if submission.testIsPending}}
        <p>
            Status: {{submission.testStatus}}
        </p>
        <p>
            Your submission will be graded shortly.
        </p>
        {{else if submission.testFailed}}
        <p>
            Status: <span class="text-danger">failed</span>
        </p>
        <p>
            Something went wrong when grading your submission.
        </p>
        {{else}}
        <p>
            Grade: {{submission.grade}}
        </p>
        <p>
            Feedback: {{submission.feedback}}
        </p>
        {{/if}}
    </div>
    {{/if}}
</div>